<section class="wrap-news">
	<div class="mbox">
		<div class="title-line">
			<h3>Последние новости</h3>
		</div>
		<div class="all-news">
			<ul class="news-popular-list">
				<li>
					<div class="popular-pic">
						<img src="images/popular1.jpg" alt="">
					</div>
					<div class="popular-content">
						<a href="news-inner.html" class="button-invers">Подробнее</a>
						<h6>Новость 1</h6>
						<div class="popular-info">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut aliquam leo. Quisque ac justo ut eros aliquet vulputate.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="popular-pic">
						<img src="images/popular2.jpg" alt="">
					</div>
					<div class="popular-content">
						<a href="news-inner.html" class="button-invers">Подробнее</a>
						<h6>Новость 2</h6>
						<div class="popular-info">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut aliquam leo. Quisque ac justo ut eros aliquet vulputate.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="popular-pic">
						<img src="images/popular3.jpg" alt="">
					</div>
					<div class="popular-content">
						<a href="news-inner.html" class="button-invers">Подробнее</a>
						<h6>Новость 3</h6>
						<div class="popular-info">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut aliquam leo. Quisque ac justo ut eros aliquet vulputate.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<a href="news.html" class="all">Все новости<span></span></a>
	</div>
</section>