<section class="enter">
  <div class="enter-top">
    <a href="index.html" class="enter-logo">
      <img src="images/logo-big.png" alt="">
    </a>
  </div>
  <div class="enter-content">
    <div class="enter-center">
      <h1>Вход</h1>
      <form action="ajax.php" name="recovery-form" class="recovery-form">
        <div class="form-field">
          <label for="loginEmail">Ваша почта</label>
          <input type="email" id="loginEmail" name="email" required />
        </div>
        <div class="form-field">
          <label for="loginPass">Пароль</label>
          <input type="password" id="loginPass" name="pass" required />
        </div>
        <button type="submit" class="button-round">Войти</button>
      </form>
      <div class="enter-links">
        <p>Нету аккаунта? <a href="reg.html">Регистрация</a></p>
        <p>Забыли пароль? <a href="recovery.html">Востановить</a></p>
      </div>
    </div>
  </div>
</section>