<section class="wrap-popular">
	<div class="mbox">
		<div class="title-line">
			<h3>Популярные товары</h3>
		</div>
		<div class="products">
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/windows.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/photoshop.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/drweb.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/adobe.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/illustrator.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old"></span>
						<span class="new"></span>
					</div>
					<a href="#" class="button">уточнить цену</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/indesign.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/microsoft.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
			<div class="product-item hot-item">
				<div class="pic">
					<img src="images/kaspersky.png" alt="">
					<div class="hot">hot</div>
				</div>
				<div class="name">
					<span class="prod-name">Furniture for Home</span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="price">
					<div class="prod-price">
						<span class="old">$ 200</span>
						<span class="new">$ 100</span>
					</div>
					<a href="#" class="button">В КОРЗИНУ</a>
				</div>
			</div>
		</div>
		<a href="#" class="more"><span><img src="images/arr.png" alt=""></span>Показать еще</a>
	</div>
</section>