<section class="enter">
  <div class="enter-top">
    <a href="index.html" class="enter-logo">
      <img src="images/logo-big.png" alt="">
    </a>
  </div>
  <div class="enter-content">
    <div class="enter-center">
      <h1>Регистрация</h1>
      <form action="ajax.php" name="reg-form" class="reg-form">
        <div class="form-field">
          <label for="regEmail">Ваша почта</label>
          <input id="regEmail" type="text" name="email" required />
        </div>
        <div class="form-field">
          <label for="regPass">Пароль</label>
          <input id="regPass" type="password" name="pass" required />
        </div>
        <div class="form-field">
          <label for="regConfirmPass">Повторите пароль</label>
          <input id="regConfirmPass" type="password" name="confimPass" required />
        </div>
        <button type="submit" class="button-round">Зарегестрироваться</button>
      </form>
      <div class="enter-links">
        <p>Уже есть аккаунт? <a href="login.html">Войти</a></p>
      </div>
    </div>
  </div>
</section>